*{
    margin: 2;
    padding: 1;
    box-sizing: border-box;
    background-color: black;
  }
  
  h1 {
    color: black;
  }
  
  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  figure {
    margin: 1.5rem;
    
  }

  figure img {
    border: solid;
    border-radius: 8px;
    border-color: red;
    border-width: 4px;
    box-shadow: 10px 10px #181818; 
  }
  
  
  figcaption {
    font-size:x-large;
    text-align: center;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: -1px 0 white, 0 1.2px white, 1px 0 white, 0 -1px white;
    padding: 10px;
  }