
body {
    background-color: #8C4C3E;
  }
  
  .mainContainer {
    display: flex;
  }
  
  .shipViewer {
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  .shipViewer img {
    padding: 10rem;
  }
  
  h1 {
    font-size: xxx-large;
    color: #049DBF;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 3px white;
    text-decoration: underline;
  }
  
  
  .box {
    background-color: #0378A6;
  }
  
  .box p {
    font-size: x-large;
    text-align: center;
  }
  
  .nav {
    min-width: 20rem;
  }
  
  .navList {
    margin: 1rem;
    list-style-type: none;
    font-size: xx-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  li:hover {
    background-color: #0378A6;
    color: black;
  }

  #modal-js-example {
      background-color: bisque;
      text-align: center;
  }
  #modal {
    padding: 5rem;
  }