* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
  }
  
  .senatorsDiv {
    display: flex;
    flex-wrap: wrap;
  }

  h1 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  h3 {
    margin-block: 2rem;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;

  }

  header ul {
    padding: 0 3vw;
    list-style-type: square;
    text-align:left;
    font-size: large;

  }

  figure {
    margin: 1rem;
    
  }

  figure img {
    border: groove;
    border-radius: 2px;
    border-color: black;
  }

  figcaption {
    font-size: medium;
    text-align: center;
    color: brown;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
  }